/* body {
  background-color: #f0f0f0;
  color: #333;
  margin: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
} */

*{
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;

}

#logo {
  position: absolute;
  font-size: 40px;
  left: 10px;
}

.id{
  color: #ffffff;
}

.signups{
  background-color: #000080;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  size: 50px;
  min-height: 50px;
  max-height: 50px;
  text-align: right;
}

.signups li a:visited {
  color: #ffffff;
}

a, a:visited{
  font-size: 15px;
  color: #000080;
  text-decoration: none;
  padding: 5px;
}


h1 {
  color: #000080;
  font-size: 40px;
  font-family: monospace;
}


#search {
  position: absolute;
  right: 40px;
  top: 68px;
  font-size: 20px;
}

.dashboard{
  padding: 10px;
  background-color: #F0F0F0;
  border-top: 1px solid #D3D3D3;

}

h4 {
  font-family: monospace;
  color: #303030;
}

#icon {
  position: absolute;
  right: 10px;
  top: 65px;
  font-size: 25px;
}

#newpic {
  position: absolute;
  right: 45px;
  top: 75px;
}


.profile {
  display: flex;
  margin: 10px;
}

.picstat {
  width: 185px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

.picsec:hover {
  border-radius: 10px;
  background-color: #e5e5f2;
}

.show {
  margin-top: 20px;
  text-align: center;
}


.addpicdash {
  background-color: #D3D3D3;
  border: 1px solid #F0F0F0;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
}
